*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: rgb(255, 110, 53);
}

.header{
  height: 100px;
  width: 80%;
  background-color: white;
  margin: 2em auto 1em auto;
  border-radius: 15px;
  
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 25px;
}

.amountBoxes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  gap: 0 10px;
}

.amountBox{
  width: 280px;
  height: 120px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.amountPara{
  color: grey;
  padding: 25px 0 0 0;
  font-size: 1rem;
}

#amountIn{
  color: green;
  font-size: 2rem;
  padding: 10px 0 0 0;
  font-weight: 600;
}
#amountEx{
  color: red;
  font-size: 2rem;
  padding: 10px 0 0 0;
  font-weight: 600;
}
#amountNet{
  color: black;
  font-size: 2rem;
  padding: 10px 0 0 0;
  font-weight: 600;
}
#TrackerBox{
  height: 250px;
  width: 80%;
  background-color: white;
  margin: 1em auto;
  border-radius: 15px;
  padding: 20px;
}

#TrackerBox h2{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 5px 0;
}
#amountInput , #description{
  height: 40px;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}
#InExBox{
  height: 40px;
  width: 25%;
  border-radius: 10px;
  font-size: 1rem;
}

.inputs{
  display: flex;
  gap: 10px;
  width: 95%;
}
.selectFlex{
  display: flex;
  width: 96%;
  margin: 1em 0;
  gap: 10px;
}
#whereSpend , #AccountName{
   height: 40px;
  width: 50%;
  border-radius: 10px;
  font-size: 1rem;
}
#addTransaction{
    height: 40px;
  width: 96%;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
 background-color: rgb(255, 110, 53);
  border-radius: 10px;
  transition: transform 300ms;
}
#addTransaction:hover{
 background-color: rgb(235, 83, 23);
 transform: translateY(-2px);
}

.filtered{
   height: 100%;
  width: 80%;
  background-color: white;
  margin: 1em auto;
  border-radius: 15px;
  padding: 10px;
}
.filtered .active{
  height: 40px;
  width: 20%;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
 background-color: rgb(255, 110, 53);
  border-radius: 10px;
}
.filter-Btn{
   height: 40px;
  width: 20%;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin: 1em 1em;
  border: none;
 background-color: rgb(204, 178, 167);
  border-radius: 10px;
}

 .transactionList{
  width: 95%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 1em auto;
  border-radius: 15px;
  gap: 10px;
  border-left: 5px solid rgb(255, 110, 53);
  transition: all 500ms;
}

.transactionList:hover{
  transform: translateX(4px);
}

.spanstyle{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 700;
  padding: 10px;
}

.parastyle{
   font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 700;
  padding: 10px;
}

.h3style{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 700;
  padding: 10px;
}
.delete-Btn{
  height: 40px;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
   background-color:transparent; 
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 500ms;
}  

.datestyle{
  color: rgb(68, 65, 65);
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

@media (max-width:720px){
  .amountBoxes , .header ,#TrackerBox , .filtered{
    width: 95%;
  }

  .spanstyle , .parastyle ,.h3style{
    padding: 6px;

  }
}

@media (max-width: 510px){
  .header h1{
    font-size: 1.4rem;
    padding: 35px;
  }
  .amountPara{
    font-size: 0.9rem;
  }

  #amountEx , #amountIn , #amountNet{
    font-size: 1.3rem;
  }

  .filter-Btn , .active{
    font-size: 0.8rem;
    margin: 1em 0.2em;
  }

   .spanstyle , .parastyle ,.h3style{
    font-size: 0.8rem;
    padding: 4px;
  }
  .delete-Btn{
    font-size: 0.9rem;
    width: 25%;
  }
}

@media (max-width: 430px){
  .amountBox{
    width: 98%;
  }

    #amountEx , #amountIn , #amountNet{
    font-size: 1.3rem;
  }

   .spanstyle , .parastyle ,.h3style{
    font-size: 0.6rem;
    padding: 4px;
  }
}